.flashy {
  color: red;
  font-style: italic;
}

img {
  height: 15%;
  width: 15%;
}

.best{
  display: block;
  /* margin-left: auto;
  margin-right: auto; */
  width: 75%;
  border-top: black;
  object-position: center;
}

.navBar {
    width: 100%;
    text-align: center;

}

.cupcake{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}